<div class="tasks_common">
  <h1><%= @title %></h1>
  <div class="new_link">
    <%= link_to "create new your tasks",new_task_path %>
    <%= link_to "+",new_task_path %>
  </div>
  <div class="tasks">
    <% @tasks&.each do |task| %>
      <ul class="task">
        <li class="task_title">
          <% if task.groups.any? %>
            <%= link_to task.title,group_task_path(task) %>
          <% else %>
            <%= link_to task.title,task_path(task) %>
          <% end %>
        </li>

        <li class="task_content">
          <%= task.limit_string %>
        </li>

          <div class="task_btns">
            <% if current_user == task.user %>
              <%= link_to "edit",edit_task_path(task),class:"btn" %>
              <%= link_to "delete",task_path(task),class:"btn",method: :delete,data:{confirm:"#{task.title} delete?"} %>
            <% end %>
          </div>
      </ul>
    <% end %>
  </div>
</div>
